<div style="margin-bottom:15px;width:100%;text-align:center;font-size:0;">
	<div style="display:inline-block;width:50%;min-width:240px;">
		<div style="display:inline-block;width:50%;padding:5px;">
			<div style="border:3px solid #FFB84D;padding:10px 0;text-align:center;font-family:'Lucida Console', 'Courier New', monospace;color:#FFB84D;font-size:18px;font-weight:bold;text-transform:uppercase;">
				[FIGHT]
			</div></div>
		<div style="display:inline-block;width:50%;padding:5px;">
			<div style="border:3px solid #FFB84D;padding:10px 0;text-align:center;font-family:'Lucida Console', 'Courier New', monospace;color:#FFB84D;font-size:18px;font-weight:bold;text-transform:uppercase;">
				[ACT]
			</div></div>
	</div>
	<div style="display:inline-block;width:50%;min-width:240px;">
		<div style="display:inline-block;width:50%;padding:5px;">
			<div style="border:3px solid #FFB84D;padding:10px 0;text-align:center;font-family:'Lucida Console', 'Courier New', monospace;color:#FFB84D;font-size:18px;font-weight:bold;text-transform:uppercase;">
				[ITEM]
			</div></div>
		<div style="display:inline-block;width:50%;padding:5px;">
			<div style="border:3px solid #FFB84D;padding:10px 0;text-align:center;font-family:'Lucida Console', 'Courier New', monospace;color:#FFB84D;font-size:18px;font-weight:bold;text-transform:uppercase;">
				[MERCY]
			</div></div>
	</div>
</div>